name: Check update-smart-drivedb

# Due to githubusercontent.com rate limiting, this workflow may fail with:
#   curl: (22) The requested URL returned error: 429
on: workflow_dispatch

# Problems with updates from svn and trac are only reported as annotations.
# Downloads shortly after a svn commit may return the previous file release
# due to content caching.

jobs:
  drivedb-check-7_X:
    strategy:
      matrix:
        version: [ "7_0", "7_1", "7_2" , "7_3" , "7_4" , "7_5" ]

    runs-on: ubuntu-latest

    steps:
      - name: Run actions/checkout@v4 svn/tags/RELEASE_${{ matrix.version }}
        uses: actions/checkout@v4
        with:
          ref: svn/tags/RELEASE_${{ matrix.version }}

      - name: Build
        run: |
          cd smartmontools && ./autogen.sh &&
          mkdir build && cd build && ../configure &&
          make -j V=0 && ./smartctl -V && make check

      - name: Run update-smart-drivedb -u github
        run: |
          cd smartmontools &&
          build/update-smart-drivedb -v -s build/smartctl -u github drivedb.h

      - name: Rebuild
        run: |
          cd smartmontools/build && make -j V=0 && make check

      - name: Run update-smart-drivedb
        run: |
          cd smartmontools &&
          build/update-smart-drivedb -v -s build/smartctl drivedb-svn.h ||
          echo "::error:: Download from svn failed"

      - name: Compare
        run: |
          cd smartmontools
          test -f drivedb-svn.h || exit 0
          diff -s -U0 drivedb.h drivedb-svn.h ||
          echo "::warning:: Download from svn differs"

  drivedb-check-main:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          # Provide at least the commit log since last release for 'getversion.sh'.
          # 'git clone --shallow-since=2025-04-29' would be sufficient but this is
          # not supported by 'actions/checkout@v4'.
          fetch-depth: 800
          # Include (future) release tags for 'getversion.sh'
          fetch-tags: true

      - name: Build
        run: |
          ./autogen.sh &&
          mkdir build && cd build &&
          ../configure --prefix=/tmp/inst --with-drivedbinstdir &&
          make -j V=0 && make check

      - name: Install
        run: |
          cd build && make install && find /tmp/inst -ls

      - name: Run update-smart-drivedb --install
        run: |
          /tmp/inst/sbin/update-smart-drivedb -v --install

      - name: Run update-smart-drivedb
        run: |
          /tmp/inst/sbin/update-smart-drivedb -v

      - name: Run update-smart-drivedb --force
        run: |
          /tmp/inst/sbin/update-smart-drivedb -v --force

      - name: Rebuild
        run: |
          cd build &&
          cp -f /tmp/inst/var/lib/smartmontools/drivedb.h lib/drivedb.h &&
          make -j V=0 && make check

      - name: Run update-smart-drivedb -u trac
        run: |
          /tmp/inst/sbin/update-smart-drivedb -v -u trac /tmp/inst/var/lib/smartmontools/drivedb-trac.h ||
          echo "::error:: Download from trac failed"

      - name: Compare
        run: |
          cd /tmp/inst/var/lib/smartmontools
          test -f drivedb-trac.h || exit 0
          diff -s -U0 drivedb.h drivedb-trac.h ||
          echo "::warning:: Download from trac differs"
